<meta charset="utf-8"/>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/markdown.css">
<body>
<title>Jindo to jQuery Main</title>
<aside class="sidebar">
	<div class="sidebar-content">
		<div class="logo-container">
			<a href="#" class="logo"><img src="./img/jindoToJqueryLogo.png"></a>
	    </div>
		<div class="accordian" id="side_menu">
			<!-- 이 영역은 '가이드' 메뉴 영역이 동적으로 append 될 영역 -->

			<!-- API 선택 메뉴 영역 -->
			<div class="accordian-item">
				<div class="menu-item accordian-header">
					<div class="icon wrapper"></div>
					Wrapper Classes
				</div>
				<div class="accordian-content classes-container">
				</div>
			</div>
    	</div>
	</div>
</aside>
<article>
	<!-- 컨텐츠 영역 -->
</article>
<script type="text/template" id="class-template">
<div class="accordian-item">
	<div class="menu-item accordian-header">
		<%= className %>
		<div class="icon">
			<svg viewBox="0 0 24 24" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" fit="" style="pointer-events: none; display: block;"><g><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path></g></svg>							
		</div>
	</div>
	<div class="accordian-content">
		<%= properties %>
		<%= methods %>
	</div>
</div>	
</script>

<script type="text/template" id="property-template">
<div class="menu-item <%= selected %>" data-class-index="<%= classIndex %>" data-property-index="<%= propertyIndex %>">
<%= propertyName %>
</div>
</script>

<script type="text/template" id="method-template">
<div class="menu-item <%= selected %>" data-class-index="<%= classIndex %>" data-method-index="<%= methodIndex %>">
<%= methodName %>
</div>
</script>

<script type="text/template" id="article-template">
	<section class="header markdown-body">
		<h1><%= methodName %></h1>
		<p><%= description %></p>
	</section>
	<section class="content">
		<div class="col">
			<h2>Jindo</h2>
			<div class="jsbin-container">
				<a class="jsbin-embed" href="<%= jindoJsbin %>"></a>
			</div>
		</div>
		<div class="col">
			<h2>jQuery</h2>
			<div class="jsbin-container">
				<a class="jsbin-embed" href="<%= jqueryJsbin %>"></a>
			</div>
		</div>
	</section>
	<script src="./js/embedJsbin.js"></script>
</script>

<script type='text/template' id='guide-template'>
	<section class="header markdown-body">
		<h1><%= title %></h1>
		<p><%= description %></p>
	</section>
	<section class="content markdown-body">
		<!-- TODO: 어떤식으로 구성할까? -->
		<!--iframe style='width:100%;height:80%' src='<%= guideUrl %>'/-->
	</section>
</script>

<script type='text/template' id='disqus-template'>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'jindotojquery';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        //(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        document.getElementById('code_comments').appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</script>
<script src="./js/data/apiList.js"></script>
<script src="./js/data/guideList.js"></script>
<script src="./js/lib/underscore-min.js"></script>
<script src="./js/lib/jquery-1.11.2.min.js"></script>
<script src="./js/$.Accordian.js"></script>
<script src='./js/ArticleView.js'></script>
<script src='./js/Comments.js'></script>
<script src='./js/main.js'></script>
</body>
